
@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rej;
    src: url(./Rejouice-Headline.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html, body{
    width: 100%;
    height: 100%;
}

                            /*  PAGE 1  */

.page-1{
    height: 100vh;
    width: 100vw;
}


/* Page1 video */

.page-1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


/* Page1 content */

.page1-content{
    width: 100%;
    height: 100%;
    /* s */
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 10vw;
}

/* Page1 navbar */

.page1-content nav{
    width: 100%;
    height: 16%;
    color: #fff;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.9vw;
}

.page1-content nav h1{
    font-size: 1.38vw ;
    font-weight: 300;
}

.page1-content nav h3{
    font-size: 1.4vw;
    font-weight: 450;
}

/* Rej div */

.rej{
    height: 32%;
}
.rej span{
    font-family: rej;
    font-size: 26.5vw;
    color: #fff;
    font-weight: 500;
}


/* Cursor div */

.cursor{
    width: 7.5vw;
    height: 7.5vw;
    background-color: rgba(255, 81, 0, 0.886);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.cursor h3{
    font-size: 1vw;
    font-weight: 500;
    font-family: rej;
}



.page-2{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    position: absolute;
    z-index: 99;
}
